/*font-family: 'Oswald', sans-serif;*/
/*green color: #00C851*/
/*purple color: #9933CC*/

body{
  box-sizing: border-box;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.navbar{
  padding-right: 0 !important;
}

.logo{
  width: 100%;
  height: auto;
  max-height: 95px;
}

.title{
  width: 30%;
  font-family: 'Oswald', sans-serif;
  font-size: 5rem;
  color: #fff;
}

.subtitle-contain{
  width: 30%;
}

.subtitle{
  color: lightgrey;
  width: 100%;
  font-size: 1.2rem;
  line-height: 1.5;
}

.subtitle span{
  color: #0c9f45;
}

.nav-items{
  width: 100%;
  background-color: #00C851;
}

.nav-items a{
  color: #fff;
  font-size: .85rem;
}

.nav-items a:hover{
  text-decoration: underline;
}

.content{
  margin-top: 175px;
  margin-bottom: 65px;
}

.content-header{
  font-family: Oswald;
  font-size: 3rem;
  color: grey;
}

/*TABLE STYLING TABLE STYLING*/

.head-row{
  background-color: #9933CC;
  color: #fff;
}

.edit{
  font-size: .7rem !important;
}

.delete{
  font-size: .7rem !important;
}

/*TABLE STYLING TABLE STYLING*/

/*ADMIN PAGE ADMIN PAGE*/
.snack-item{
  list-style-type: none;
}

.card-description{
  color: grey;
}

.card-description span{
  color: #0c9f45;
  font-weight: bold;
}

.card-punch span{
  color: #9933CC;
  font-weight: bold;
}

/*ADMIN PAGE ADMIN PAGE*/

footer{
  background-color: #00C851;
}

.snack-logo{
  max-height: 30px;
}

.bottom-subtitle{
  display: none;
}

#error-modal{
  z-index: 1000000 !important;
}

/*AUTHENTICATE SECTION*/

/* The Modal (background) */
#login-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 100 !important; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4);
     /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-image: url('../img/henry-hustava-81799.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 10rem auto;
  box-shadow: 3px 3px #888888;
  width: 70%;
  z-index: 1;
  border-radius: 0;
  padding: 0;
}

.layer{
  background-color: rgba(0, 0, 0, 0.6);
  /*position: absolute;*/
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.login-subtitle{
  color: #00C851
}

.column-title{
  text-decoration: underline;
}

.close {
  color: #fff;
  float: right;
  margin-right: .5rem;
  margin-top: .5rem;
  font-size: 2.5rem;
  font-weight: bold;
  z-index: 5;
}

.close:hover,
.close:focus {
  color: grey;
  text-decoration: none;
  cursor: pointer;
}

.login-modal-header{
  z-index: 5;
}

.login-form-section{
  z-index: 5;
}

.col6{
  width: 48%
}

.col7{
  width: 100%;
}

.double{
  width: 48%;
}

input{
  font-size: .8rem !important;
  color: #fff !important;
}

#join-button, #signin-button{
  width: 50%;
  padding-left: 0;
  padding-right: 0;
}

#login-modal-error{
  z-index: 5
}


/*MEDIA QUERIES SECTION*/

@media screen and (max-width: 1200px) {
  #join-button, #signin-button{
    font-size: .7rem !important;
  }
}

@media screen and (max-width: 850px) {
  body{
    font-size: 12px;
  }

  .logo{
    width: 70px;
  }

  .title{
    font-size: 4rem;
  }

  .subtitle{
    display: none;
  }

  /*.modal-content{
    margin: 25% auto;
  }*/

}

@media screen and (max-width: 600px) {
  .title{
    font-size: 4rem;
  }

  .subtitle{
    display: none;
  }

  .bottom-subtitle{
    display: inline;
    margin-top: .5rem;
  }

  .snack-logo{
    display: none;
  }

}

@media screen and (max-width: 400px) {
  .title{
    font-size: 2.5rem;
  }

}
